nav {
    background-color: #ffffff;
}
header {
    margin: 0px;
    height:200px;
    background-image: linear-gradient(90deg, rgba(196,182,129,0) 60%, rgba(0,78,56,0.6) 60%, rgba(0,78,56,1) 100%), url('images/structurev-2000.jpg');
    background-size: cover;
    text-align: right;
}
body {
  background-color: #00573d;
  margin: 0px;
  font-family: sans-serif;
}
hr {
    height: 7px;
    border-width: 0px;
    background-color: #c4b581;
    margin: 0px;
}
h1 {
  color: #f0e1b0;
  text-align: center;
}
button {
  background-color: #f0e1b0;
  width: 10em;
  height: 4em;
  border-radius: 10px;
}
a, a:visited {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #f0e1b0;
}
.button {
  text-align: center;
  margin: 30px;
}
.banner {
    margin: 0px;
    width: 40%;
    height: 200px;
    float: right;
}
.banner_text {
    margin: 0px;
    padding: 20px;
    color: #ffffff;
}
.banner_alt_text {
        margin: 0px;
        padding: 20px;
        color: #f0e1b0;
}
.text {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    border-radius: 25px;
    background: #021e14;
    color: #ffffff;
}
