nav {
    background-color: #ffffff;
}
header {
    margin: 0px;
    height:200px;
    background-image: linear-gradient(270deg, rgba(196,182,129,0) 60%, rgba(0,78,56,0.6) 60%, rgba(0,78,56,1) 100%), url('images/structurev-2000.jpg');
    background-size: cover;
    text-align: left;
}
body {
  background-color:	rgb(0,78,56);
  margin: 0px;
  font-family: sans-serif;
}
hr {
    height: 7px;
    border-width: 0px;
    background-color: #c4b581;
    margin: 0px;
}
.first{
    /*height: 7px;
    border-width: 0px;
    background-color: green;*/
    /*width: 100%;*/
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    height: 7px;
    background-image: linear-gradient(to right, #481c63 0%, #f9c606 28%, #58b947 64%, #008453 100%);
}
.second{
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    height: 35px;
    background-color: black;
    border-radius: 0px;
    border-color: black;
}
.third {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: rgb(0,78,56);
    height: 2px;

}
.fourth {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: rgb(0,78,56);
    height: 2px;
}
.fifth {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: rgb(0,78,56);
    height: 2px;
}
.sixth{
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: rgb(0,78,56);
    height: 2px;
}
.seventh{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 70px;
    height: 7px;
    background-image: linear-gradient(to right, #481c63 0%, #f9c606 28%, #58b947 64%, #008453 100%);
}
.banner {
    margin: 0px;
    width: 40%;
    height: 200px;
    float: left;
}
.banner_text {
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 50px;
    margin: 10px;
    text-align: left;
    color: #ffffff;
}
.banner_alt_text {
    padding-top: 0px;
    padding-bottom: 100px;
    padding-left: 60px;
    margin: 0px;
    text-align: left;
    color: #f0e1b0;
}
.time {
    margin: 0px;
    padding: 0px;
    /*border-radius: 25px;*/
    color:black;
    text-align: center;
}
.surveyLayout {
    margin-top: 30px;
    margin-left: 175px;
    margin-right: 175px;
    padding-bottom: 0px;
    border: 4px outset #f0e1b0;
    /*background-color:  #f0e1b0;*/
    background-color: #f0e1b0;
    position: relative;
}
.timeTraveled {
    text-align: center;
    font-size: 150%;
    color: rgb(0,78,56);
    margin-left: 40px;
    margin-right: 40px;
}
.time {
    text-align: center;
}
.haveCar {
    text-align: center;
    font-size: 150%;
    color: rgb(0,78,56);
}
.car{
    text-align: center;
}
.typeOfCar{
    text-align: center;
    margin-bottom: 10px;
    display: none;
}
.carlist{
    display: none;
    margin-left: 420px;
}
.mpgLabel{
    text-align: center;
    display: none;
}
.mpg{
    margin-bottom: 0px;
    margin-left: 370px;
    display: none;
}
.canCarpool {
    text-align: center;
    font-size: 150%;
    color: rgb(0,78,56);
}
.carpool {
    text-align: center;
}
.distance {
    text-align: center;
    font-size: 150%;
    color: rgb(0,78,56);
}

.distanceAmount {
    text-align: center;
}
.submit {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 50px;
    margin-left: 43%;
    margin-bottom: 50px;
    border-radius: 8px;
    font-size: 100%;
    background-color: #ffffff;
    position: relative;
    text-align: center;
    color: rgb(0,78,56);
}
